*.exe
*.java
*.js
extend-luogu-main/
random-call-a-roll-machine/
debug.cpp
*/题面.md
temp*.cpp
.cph/
js/
temp*.*
gen*.cpp
checker*.cpp
note.md
*_files/*
*.html
szjudge/9.04/big/*/*.in
szjudge/9.04/big/*/*.out
szjudge/9.12/*/*.in
szjudge/9.12/*/*.out
pjudge/*/*.in
pjudge/*/*.ans